body {
     background: #FFF;
     color: #000;
     font-family: Arial, sans-serif;
     font-size: 14px;
}

#header {
     background: #F5DEB3;
     width: 100%;
     height: 55px;
}
 
#container {
     background: #FFD700;
     margin: auto auto;
     text-align: center;
     width: 100%;
     height: 100%;
}
 
#navigation {
     background: #FE9798;
     width: 100%;
     height: 25px;
}
 
#sidebar {
     background: #40E0D0;
     float: left;
     width: 20%;
     height: 500px;
}

#content {
     background: #DCDCDC;
     float: right;
     width: 80%;
     height: 500px;
}
 
#clear {
     clear: both;
}
 
#footer {
    background: #00BFFF;
	width: 100%;
	height: 40px;
}
#registration{
	background:#DC143C;
	float:right;
	width:100%;
	height:150px;
}
#menu{
	background:#008000;
	color:#FFFF00;
	width:100%;	
	height:210px;
	margin-top: 180px;
	padding-top:20px;
	font-size: 24px;	
	padding-left:25px;
}
#menu-text{
	text-align:left;
}
a{
	color:#FFFF00;
	text-decoration:none;
}
a:hover{
	color:#FFD700;
	font-size: 26px;
	transition:0.2s all;
}
form{
	font-weight:bold;
	color:#FFFF00;
}
.del:hover{
	box-shadow:5px 5px 5px black;
	border:2px solid black;
	transform: scale(1.1);
	transition:0.2s all;
}